<main class="main">
  <div class="content">
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <mat-grid-list cols="7" rowHeight="1:1" class="bg-slate-400 w-1/2 rounded-3xl">
        <!-- @for (item of []; track item.title) {
        } -->
        <mat-grid-tile>A1</mat-grid-tile>
        <mat-grid-tile>A2</mat-grid-tile>
        <mat-grid-tile>A3</mat-grid-tile>
        <mat-grid-tile>A4</mat-grid-tile>
        <mat-grid-tile>A5</mat-grid-tile>
        <mat-grid-tile>A6</mat-grid-tile>
        <mat-grid-tile>A7</mat-grid-tile>
      </mat-grid-list>
<mat-form-field>
  <mat-label>No. of tickets</mat-label>
  <mat-select>
    @for (ticket of tickets; track ticket) {
      <mat-option [value]="ticket.value">{{ticket.viewValue}}</mat-option>
    }
  </mat-select>
</mat-form-field>
    </div>
  </div>
</main>

<router-outlet />
